@this(main: views.html.main)
@(user: User, albums: Seq[Album])

@pageTitle = @{"Albums"}
@navTitle = @{Some("Albums")}

@main(pageTitle) {
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Hi, USERNAME</h1>
      <p>photo-album was designed to help you stay connected to your favorite memories with friends and family.</p>
      <hr class="my-4">
      <p>Why not start a new album?</p>
      <a class="btn btn-primary btn-lg" href="/todo" role="button">Create album</a>
    </div>
  </div>
  <ul>
  @for(album <- albums) {
    <li>@album.title - @album.description</li>
  }
  </ul>
}

